<%

	var checkParamMap = {};
	var actionParamMap = {};

	for (var et in entityTypeData) {
		var checks = entityTypeData[et].checks || [];
		for (var c=0; c<checks.length; c++) {
			var check = checks[c];
			checkParamMap[check.value] = check.params;
		}
		var actions = entityTypeData[et].actions || [];
		for (var a=0; a<actions.length; a++) {
			var action = actions[a];
			actionParamMap[check.value] = action.params;
		}
	}

	function getEntityChecks(name) {
		var type = getEntityType(name);
		return entityTypeData[type]? entityTypeData[type].checks : [];
	}

	function getCheckParamName(name) {
		var params = checkParamMap[name] || {};
		var keys = Object.keys(params);
		if (keys.length > 0) {
			return keys[0];
		}
		return "";
	}

	function getCheckParamType(name) {
		var params = checkParamMap[name] || {};
		var keys = Object.keys(params);
		if (keys.length > 0) {
			return params[keys[0]];
		}
		return "";
	}

	function getActionParamName(name) {
		var params = actionParamMap[name] || {};
		var keys = Object.keys(params);
		if (keys.length > 0) {
			return keys[0];
		}
		return "";
	}

	function getActionParamType(name) {
		var params = actionParamMap[name] || {};
		var keys = Object.keys(params);
		if (keys.length > 0) {
			return params[keys[0]];
		}
		return "";
	}

	var isActionsOverridden = ((actions != null) && (actions.length > 0));

	function getEntityActions(type) {
		if (isActionsOverridden) {
			return actions;
		}

		return entityTypeData[type]? entityTypeData[type].actions : [];
	}

	function getEntityType(name) {
		for (var et=0; et<entities.length; et++) {
			if (entities[et].value == name) {
				return entities[et].type;
			}
		}
		return "";
	}
%>

 <div class="panel panel-primary">
      <div class="panel-body">

		<div class="row">
			<div class="col-md-10">
				<a id="<%= id %>.name" class="edit-string" data-emptytext="Unnamed Conditional" data-success="onNameUpdate_<%= safeId %>"><%= cond.name %></a>
				<br><br>
			</div>
			<div class="col-md-2 pull-right">
				<a class="btn btn-sm btn-danger pull-right" onclick="removeConditional_<%= safeId %>(<%= index %>)">
					<span class="glyphicon glyphicon-remove"/>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">

				<%
					var connectors = [{value:"&&", text:"AND"}, {value:"||", text:"OR"}];

					for (var j=0; j<cond.checks.length; j++) {
						var check = cond.checks[j];
						check.params = check.params || {};
						var checkString = id + ".checks." + j;
				%>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
				    		<div class="panel-body">
				    			<div class="row">
				    				<div class="col-md-3">
										<a id="<%= checkString %>.entity" class="edit-select" data-value="<%= check.entity %>" data-emptytext="Entity" data-source="<%= JSON.stringify(entities).replace(/\"/g,'&quot;') %>" data-success="onSuccess_<%= safeId %>"></a>
									</div>
									<div class="col-md-3">
										<a id="<%= checkString %>.func" class="edit-select" data-value="<%= check.func %>" data-emptytext="Function" data-source="<%= JSON.stringify(getEntityChecks(check.entity)).replace(/\"/g,'&quot;') %>" data-success="onSuccess_<%= safeId %>"></a>
									</div>
									<div class="col-md-3">
										<%
											var paramName = getCheckParamName(check.func);
											if (paramName) {
										%>
											<a id="<%= checkString %>.params.<%= paramName %>" class="edit-<%= getCheckParamType(check.func) %>" data-min="0" data-max="100000" data-value="<%= check.params[paramName] %>" data-emptytext="<%= paramName %>"></a>
										<%
											}
										%>
									</div>
									<div class="col-md-3">
										<% if (j < (cond.checks.length - 1)) { %>
											<a id="<%= checkString %>.conn" class="edit-select" data-value="<%= check.conn || '&&' %>" data-source="<%= JSON.stringify(connectors).replace(/\"/g,'&quot;') %>"></a>
										<% } %>
										<a class="btn btn-sm btn-danger pull-right" onclick="removeConditionalItem_<%= safeId %>('checks', <%= index %>, <%= j %>)">
											<span class="glyphicon glyphicon-remove"/>
										</a>
									</div>
								</div>
				    		</div>
				  		</div>
				  	</div>
				</div>

				<%
					}
				%>

				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-primary" onclick="addConditionalItem_<%= safeId %>('checks', <%= index %>)"><span class="glyphicon glyphicon-plus"></span> Check</a>
						<br><br>
					</div>
				</div>

		  	</div>

			<div class="col-md-5">

				<%
					var isAddDisabled = (isActionsOverridden && (cond.actions.length >= 1))

					for (var j=0; j<cond.actions.length; j++) {
						var action = cond.actions[j];
						action.params = action.params || {};
						var actionString = id + ".actions." + j;
				%>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-info">
				    		<div class="panel-body">
				    			<div class="row">
				    				<div class="col-md-2">
				    					self
				    				</div>
									<div class="col-md-4">
										<a id="<%= actionString %>.func" class="edit-select" data-value="<%= action.func %>" data-emptytext="Function" data-source="<%= JSON.stringify(getEntityActions("brain")).replace(/\"/g,'&quot;') %>" data-success="onSuccess_<%= safeId %>"></a>
									</div>
									<div class="col-md-6">
									
										<%
											var paramName = getActionParamName(action.func);
											if (paramName) {
										%>
											<a id="<%= actionString %>.params.<%= paramName %>" class="edit-<%= getActionParamType(action.func) %>" data-min="0" data-max="100000" data-value="<%= action.params[paramName] %>" data-emptytext="<%= paramName %>"></a>
										<%
											}
										%>
										<a class="btn btn-sm btn-danger pull-right" onclick="removeConditionalItem_<%= safeId %>('actions', <%= index %>, <%= j %>)" >
											<span class="glyphicon glyphicon-remove"/>
										</a>
									</div>
								</div>
				    		</div>
				  		</div>
				  	</div>
				</div>

				<%
					}
				%>

				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-primary" <% if (!isAddDisabled) { %> onclick="addConditionalItem_<%= safeId %>('actions', <%= index %>)" <% } else { %> disabled <% } %> >
							<span class="glyphicon glyphicon-plus"></span> Action
						</a>
						<br><br>
					</div>
				</div>

		  	</div>

		</div>

 	</div>
</div>

<script>
	function onSuccess_<%= safeId %>(obj, result) {
		//console.log("onSuccess result=" + result);
		//renderConditionals_<%= safeId %>();
	}

	function onNameUpdate_<%= safeId %>(obj, result) {
	}
</script>

