<%
	function getEntityChecks(name) {
		var type = getEntityType(name);
		return entityTypeData[type]? entityTypeData[type].checks : [];
	}

	function getEntityActions(type) {
		if ((actions != null) && (actions.length > 0)) {
			return actions;
		}

		return entityTypeData[type]? entityTypeData[type].actions : [];
	}

	function getEntityType(name) {
		for (var et=0; et<entities.length; et++) {
			if (entities[et].value == name) {
				return entities[et].type;
			}
		}
		return "";
	}
%>

<div class="row">
	<div class="col-md-12 well">

		<div class="row">
			<div class="col-md-12">
				<a id="<%= id %>.name" class="edit-string" data-emptytext="Unnamed Conditional"><%= cond.name %></a>
				<br><br>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">

				<%
					var connectors = [{value:"&&", text:"AND"}, {value:"||", text:"OR"}];

					for (var j=0; j<cond.checks.length; j++) {
						var check = cond.checks[j];
						var checkString = id + ".checks." + j;
				%>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
				    		<div class="panel-body">
				    			<div class="row">
				    				<div class="col-md-3">
										<a id="<%= checkString %>.entity" class="edit-select" data-value="<%= check.entity %>" data-emptytext="Entity" data-source="<%= JSON.stringify(entities).replace(/\"/g,'&quot;') %>"></a>
									</div>
									<div class="col-md-3">
										<a id="<%= checkString %>.func" class="edit-select" data-value="<%= check.func %>" data-emptytext="Function" data-source="<%= JSON.stringify(getEntityChecks(check.entity)).replace(/\"/g,'&quot;') %>"></a>
									</div>
									<div class="col-md-3">
										<a id="<%= checkString %>.param" class="edit-string" data-value="<%= check.param %>" data-emptytext="Parameter"></a>
									</div>
									<div class="col-md-3">
										<% if (j < (cond.checks.length - 1)) { %>
											<a id="<%= checkString %>.conn" class="edit-select" data-value="<%= check.conn || '&&' %>" data-source="<%= JSON.stringify(connectors).replace(/\"/g,'&quot;') %>"></a>
										<% } %>
										<a class="btn btn-sm btn-danger pull-right" onclick="removeConditionalItem_<%= safeId %>('checks', <%= index %>, <%= j %>)">
											<span class="glyphicon glyphicon-remove"/>
										</a>
									</div>
								</div>
				    		</div>
				  		</div>
				  	</div>
				</div>

				<%
					}
				%>

				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-primary" onclick="addConditionalItem_<%= safeId %>('checks', <%= index %>)"><span class="glyphicon glyphicon-plus"></span> Check</a>
						<br><br>
					</div>
				</div>

		  	</div>

			<div class="col-md-5">

				<%
					for (var j=0; j<cond.actions.length; j++) {
						var action = cond.actions[j];
						var actionString = id + ".actions." + j;
				%>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
				    		<div class="panel-body">
				    			<div class="row">
				    				<div class="col-md-2">
				    					self
				    				</div>
									<div class="col-md-4">
										<a id="<%= actionString %>.func" class="edit-select" data-value="<%= action.func %>" data-emptytext="Function" data-source="<%= JSON.stringify(getEntityActions("brain")).replace(/\"/g,'&quot;') %>"></a>
									</div>
									<div class="col-md-6">
										<a id="<%= actionString %>.param" class="edit-string" data-value="<%= action.param %>" data-emptytext="Parameter"></a>
										<a class="btn btn-sm btn-danger pull-right" onclick="removeConditionalItem_<%= safeId %>('actions', <%= index %>, <%= j %>)">
											<span class="glyphicon glyphicon-remove"/>
										</a>
									</div>
								</div>
				    		</div>
				  		</div>
				  	</div>
				</div>

				<%
					}
				%>

				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-primary" onclick="addConditionalItem_<%= safeId %>('actions', <%= index %>)"><span class="glyphicon glyphicon-plus"></span> Action</a>
						<br><br>
					</div>
				</div>

		  	</div>

		</div>

 	</div>
</div>


