  


<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= state.id %>">
        <%= state.name %>
      </a>
    </h4>
  </div>
  <div id="collapse-<%= state.id %>" class="panel-collapse collapse">
    <div class="panel-body">


      <% 
        for (var s=0; s<state.stages.length; s++) { 
        var stage = state.stages[s];
      %>

        <div class="row">
          <div class="col-md-12">

            <%- partial('ai_state_stage', {brain:brain, stateId:state.id, stage:stage, collectionName:collectionName, entities:state.entities}) %>
            
          </div>
        </div>

      <% } %>


    </div>
  </div>
</div>

<script>
  var entities_<%= state.id %> = <%- JSON.stringify(state.entities) %>;
</script>