<%
	var safeId = id.replace(/\./g, "_");
%>

<div class="row">
	<div id="conditionals-list-<%= safeId %>" class="col-md-12">

		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" onclick="addConditional_<%= safeId %>()"><span class="glyphicon glyphicon-plus"></span> Conditional</a>
				<br><br>
			</div>
		</div>

		<%
			for (var i=0; i<conditionals.length; i++) {
				var cond = conditionals[i];
				cond.checks = cond.checks || [];
				cond.actions = cond.actions || [];
		%>

			<div id="conditionals-<%= safeId %>-<%= i %>"></div>
		<%
			}
		%>

	</div>
</div>


<script>
	var conditionals_<%= safeId %> = <%- JSON.stringify(conditionals) %>;
	var entities_<%= safeId %> = <%- JSON.stringify(entities) %>;
	var actions_<%= safeId %> = <%- JSON.stringify(actions) %>;

	function renderConditionals_<%= safeId %>() {
		renderConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>, entities_<%= safeId %>, actions_<%= safeId %>);
	}

	function addConditional_<%= safeId %>() {
		var nextIndex = conditionals_<%= safeId %>.length;
		conditionals_<%= safeId %>.push({name:"", checks:[], actions:[]})
		var prevHtml = $("#conditionals-list-<%= safeId %>").html();
		var htmlLine = '<div id="conditionals-<%= safeId %>-' + nextIndex + '"></div>';
		$("#conditionals-list-<%= safeId %>").html(prevHtml + htmlLine)

		saveConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>);
		renderConditionals_<%= safeId %>();
	}

	function removeConditional_<%= safeId %>(index) {
		var nextIndex = conditionals_<%= safeId %>.length;

		conditionals_<%= safeId %>.splice(index, 1);

		saveConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>);
		renderConditionals_<%= safeId %>();
	}

	function addConditionalItem_<%= safeId %>(type, index) {
		conditionals_<%= safeId %>[index][type].push({func:""});
		saveConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>);
		renderConditionals_<%= safeId %>();
	}

	function removeConditionalItem_<%= safeId %>(type, index, itemIndex) {
		conditionals_<%= safeId %>[index][type].splice(itemIndex, 1);
		saveConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>);
		renderConditionals_<%= safeId %>();
	}


	if (window.conditionalEJS == null) {
		window.conditionalEJS = new EJS({url:'/views/conditional/render.ejs'});
	}

	function renderConditionals(collection, oid, id, conditionalList, entityList, actions) {
		var safeId = id.replace(/\./g, "_");
		
		for (var i=0; i<conditionalList.length; i++) {
			var cond = conditionalList[i];
			var html = window.conditionalEJS.render({id:(id+"." + i), index:i, safeId:safeId, cond:cond, entities:entityList, entityTypeData:entityTypeData, actions:actions});
			$("#conditionals-"+safeId+"-"+i).html(html);
		}

		var removedItem = $("#conditionals-"+safeId+"-"+conditionalList.length);
		if (removedItem) {
			removedItem.remove();
		}

		setupEditables(collection, oid);
	}

	function saveConditionals(collection, oid, id, conditionalList) {
		var postData = {pk:oid, name:id, value:conditionalList}
		$.post( "/game/datatable/save/json/"+collection, postData, function( data ) {
		});
	}

	$(document).ready(function() {
		renderConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>, entities_<%= safeId %>, actions_<%= safeId %>);
	});

</script>