<%
	var safeId = id.replace(/\./g, "_");
%>

<div class="row">
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" onclick="addConditional_<%= safeId %>()">Add Conditional</a>
				<br><br>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div id="conditionals-<%= safeId %>" class="col-md-12">
				</div>
			</div>
		</div>

	</div>
</div>


<script>
	var conditionals_<%= safeId %> = <%- JSON.stringify(conditionals) %>;
	var entities_<%= safeId %> = <%- JSON.stringify(entities) %>;

	function addConditional_<%= safeId %>() {
		conditionals_<%= safeId %>.push({name:"", entity:""})
		saveConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>);
		renderConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>, entities_<%= safeId %>);
	}


	if (window.conditionalEJS == null) {
		window.conditionalEJS = new EJS({url:'/views/conditional/render.ejs'});
	}

	function renderConditionals(collection, oid, id, conditionalList, entityList) {
		var safeId = id.replace(/\./g, "_");
		var html = window.conditionalEJS.render({id:id, conditionals:conditionalList, entities:entityList});
		$("#conditionals-"+safeId).html(html);
		setupEditables(collection, oid);
	}

	function saveConditionals(collection, oid, id, conditionalList) {
		var postData = {pk:oid, name:id, value:conditionalList}
		$.post( "/game/datatable/save/json/"+collection, postData, function( data ) {
			alert( "/game/datatable/save/json/"+collection );
		});
	}

	$(document).ready(function() {
		renderConditionals("<%= collectionName %>", "<%= oid %>", "<%= id %>", conditionals_<%= safeId %>, entities_<%= safeId %>);
	});

</script>