<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="<%= description %>">
        <meta name="author" content="<%= author %>">

        <!-- styles -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    	
    	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
    	<link rel="stylesheet" href="/css/mediaqueries.css" type="text/css" media="all">

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="/img/favicon.ico">
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script> -->
        <script src="/js/jquery-2.1.1.min.js"></script>
        <!-- <script src="/js/jquery-mobilemenu.min.js"></script>-->

        <script src="/js/bootstrap.min.js"></script>

        <script src="/js/paper-full.min.js"></script>
    </head>

	<body>

        <div class="wrapper row1">
			<header id="header" class="clear">
				<div id="hgroup">
				  <h1><a href="#"><%- title %></a></h1>
				</div>
			  </header>
			</div>
			<!-- ################################################################################################ -->
			<div class="wrapper row2">
			  <nav id="topnav">
				<ul class="clear">
				  <li class="active first"><a href="/admin">Home</a></li>
				  <li><a href="/admin/users/userlist">Users</a></li>
                  <li><a href="/game/bridge">Game</a></li>
				  <li><a class="drop" href="#">Drop 1</a>
					<ul>
					  <li><a href="#">Level 2</a></li>
					  <li><a href="#">Level 2</a></li>
					  <li><a class="drop" href="#">Level 2 + Drop</a>
						<ul>
						  <li><a href="#">Level 3</a></li>
						  <li><a class="drop" href="#">Level 3 + Drop</a>
							<ul>
							  <li><a href="#">Level 4</a></li>
							  <li><a href="#">Level 4</a></li>
							</ul>
						  </li>
						  <li><a href="#">Level 3</a></li>
						</ul>
					  </li>
					</ul>
				  </li>
				</ul>
			  </nav>
			</div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="background-color: white;">
                <%- body %>
            </div>
            <div class="col-md-1"></div>
        </div>
    </body>
</html>